NODE_ENV=production

PORT=5000

CORS_ORIGIN=

MONGO_URI=

JWT_SECRET=

JWT_EXPIRES_IN=8h

SCALE_BARCODE_PREFIXES=20,21,22,23,24,25,26,27,28,29

SCALE_EMBEDDED_VALUE=weight

DB_MAX_POOL_SIZE=20
DB_MIN_POOL_SIZE=1